@use '../abstracts/variables' as *;
*,
*::before,
*::after {
  box-sizing: border-box;
  letter-spacing: 0.05em;
  color: $text-primary;
  line-height: $normal-line-height;
  font-size: $label-md;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

// general link-item
.normal-link-item {
  &:link,
  &:visited {
    color: $text-primary;
  }

  &:hover,
  &:active {
    color: $text-secondary;
  }
}

// image-container
.image-container {
  width: 100%;
}

.dollar-sign {
  font-family: 'Roboto Mono', sans-serif;
}
