<footer class="footer">
  <div class="container">
    <nav class="footer-nav d-flex mb-l">
      <h2 class="footer-logo-wrapper mb-mobile-xs">
        <a
          href="<%= MODE === 'development' ? '/pages/index.html' : BASE_URL + 'index.html' %>"
          class="logo"
          >URBNSTEP</a
        >
      </h2>
      <ul class="nav-links d-flex ai-center gap-40">
        <li>
          <a
            href="<%= MODE === 'development' ? '/pages/products.html' : BASE_URL + 'products.html' %>"
            class="normal-link-item fw-md"
            >商品列表</a
          >
        </li>
        <li>
          <a
            href="<%= MODE === 'development' ? '/pages/brand-story.html' : BASE_URL + 'brand-stroy.html' %>"
            class="normal-link-item fw-md"
            >品牌故事</a
          >
        </li>
      </ul>
    </nav>
    <div class="copyright">
      <p class="mb-xxs">Copyright ©2025 URBNSTYLE</p>
      <p>All Rights Reserved.</p>
    </div>
  </div>
</footer>
