@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.button {
  &__image-wrapper {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &-option {
    // button-option__text
    &__text {
      text-align: center;
      padding: 12px 24px;
      border: 1px solid $neutral-300;
      border-radius: $radius-xs;
      width: 100%;

      &:hover,
      &:active {
        border: 1px solid $text-primary; // #212529
      }

      &.selected {
        border: 1px solid $text-primary; // #212529
      }

      &.disabled {
        color: $neutral-600; // #6c757d
        border-color: #dee2e6;
        cursor: default;
      }
    }

    // button-option__image
    &__image {
      width: 6.4rem;

      p {
        color: $text-secondary; // #6c757d
        text-align: center;
      }

      &:hover img {
        opacity: 0.8;
      }

      &.selected {
        pointer-events: none;
        cursor: default;

        img {
          border: 1px solid $neutral-900;
        }

        p {
          color: $text-primary;
        }
      }

      &.disabled {
        img {
          opacity: 0.4;
        }

        p {
          color: $text-muted;
        }
      }
    }
  }

  // button--primary
  &--primary {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: $noto-sans-tc-medium;
    padding: $spacing-s $spacing-l;
    text-align: center;
    background-color: $primary-300;
    border-radius: $radius-xs;

    &:hover {
      color: $primary-500;
    }
  }

  // button--outlined
  &--outlined {
    text-align: center;
    border: 1px solid $neutral-900; //$212529
    border-radius: $radius-xs;
    padding: $spacing-s 0;

    background-color: $neutral-0;
    color: $text-primary;

    &:hover {
      color: $text-on-dark; // #ffffff
      background-color: $neutral-900; // #212529;

      span {
        color: $text-on-dark; // #ffffff
      }

      svg {
        fill: $text-on-dark; // #ffffff
      }
    }
  }

  &--filled {
    font-size: $label-md;
    font-weight: $noto-sans-tc-medium;
    display: inline-block;
    padding: $spacing-s $spacing-l;
    color: $text-on-dark; //#ffffff
    background-color: $neutral-900;
    text-align: center;
    border-radius: $radius-xs;

    span {
      color: $text-on-dark; // #ffffff
    }
    svg {
      fill: $text-on-dark; // #ffffff
    }

    &:hover {
      background-color: $neutral-700;
    }
  }

  &--large {
    padding: $spacing-s $spacing-l;

    @include mobile {
      padding: $spacing-xs $spacing-m;
    }
  }
}
