<!doctype html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mina:wght@700&family=Noto+Sans+TC:wght@400;500;600;700&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>品牌故事</title>
  </head>
  <body>
    <%- include("layout-and-components/header.ejs") %>

    <div class="hero">
      <div class="hero-filter">
        <h2 class="heading mb-m mb-mobile-xs">品牌故事</h2>
        <h2 class="subtitle heading">Brand Story</h2>
      </div>
    </div>

    <main>
      <div class="container">
        <div class="quote mb-mobile-xl">
          <h3 class="heading mb-s">走出城市的節奏，穿上自己的步調。</h3>
          <p class="mb-xxs">我們相信，每雙鞋都該帶著個性出場。</p>
          <p class="mb-xxs">在 URBNSTEP，我們認為鞋履不只是穿戴飾品，更是你與世界連結的語言。</p>
          <p class="">
            融合城市結構與機能語彙，我們打造適合都會節奏的風格鞋款，陪你自信穿梭每一場風景。
          </p>
        </div>
      </div>

      <div class="main-image--wrapper">
        <img src="/images/main-image.png" alt="urbnstep" class="main-image" />
      </div>
      <div class="container">
        <section class="intro">
          <h2 class="heading mb-mobile-m">品牌簡介</h2>
          <h3 class="heading mb-m mb-mobile-s">
            <span class="heading mb-mobile-xs">URBNSTEP 是來自台灣的街頭機能鞋品牌，</span
            >致力於打造「風格與功能並存」的鞋履體驗。
          </h3>
          <p class="mb-m mb-mobile-s">
            在城市與日常的交錯中，我們看見了步伐的力量。URBNSTEP
            誕生於一群設計師與文化觀察者的交會點——一個相信風格應該來自「真實場景」而非伸展台的團隊。從都市的清晨街角，到午後光影灑落的人行道，我們捕捉的是那些不被刻意編排的時刻，那些用一雙鞋踏出的態度與節奏。每一款鞋的誕生，不只是設計與工藝的結晶，更是一段來自城市靈感的延伸，我們相信：鞋，是穿在腳上的語言。
          </p>
          <p>
            URBNSTEP 的名字來自 Urban +
            Step，代表著我們對每一個走進城市生活的人致敬。我們不追逐潮流，我們關注輪廓、材質、穿著者的心境與身型，創造能陪伴你走進自我節奏的經典之作。選用高品質麂皮、織物與天然橡膠大底，並與獨立插畫家、攝影師合作，打造具有街頭詩意的形象風格。URBNSTEP
            相信，美不是炫耀，而是由內而外的呼吸——一雙鞋，剛好說出你心中的樣子。
          </p>
        </section>

        <section class="history">
          <h2 class="heading mb-l mb-mobile-m">品牌歷程</h2>
          <ol>
            <li class="mb-s">
              <time class="year">2019</time>URBNSTEP 在台北東區的創意工作室誕生。
            </li>
            <li class="mb-s">
              <time class="year">2021</time>首款【Urban Flow 系列】誕生，結合針織鞋面與城市靈感。
            </li>
            <li>
              <time class="year">2025</time>URBNSTEP 已成為台灣街頭生活風格的代表鞋履品牌之一。
            </li>
          </ol>
        </section>

        <section class="features">
          <h2 class="heading mb-l mb-mobile-m">品牌理念</h2>
          <ul>
            <li class="mb-s">機能先行：輕量、透氣、防潑水</li>
            <li class="mb-s">美學延伸：極簡線條 + 實驗配色</li>
            <li>永續材料：選用環保合成皮革與可回收包裝</li>
          </ul>
        </section>

        <section class="story mb-5xl">
          <h2 class="heading mb-l mb-mobile-16">品牌小故事</h2>
          <ul class="story-link">
            <li class="story-link-item mb-xs d-flex">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-arrow-up-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z"
                />
              </svg>
              <a href="#" class="fw-md">創辦人筆記：我們為什麼想做鞋？</a>
            </li>
            <li class="story-link-item mb-xs d-flex">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-arrow-up-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z"
                />
              </svg>
              <a href="#" class="fw-md">穿上 URBNSTEP 的他們</a>
            </li>
            <li class="story-link-item d-flex">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-arrow-up-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z"
                />
              </svg>
              <a href="#" class="fw-md">URBNSTEP 鞋履的誕生過程</a>
            </li>
          </ul>
        </section>
      </div>
    </main>
    <%- include ("layout-and-components/promotion.ejs") %>
    <%- include ("layout-and-components/footer.ejs") %>
    <script type="module" src="/js/brand-story.js"></script>
  </body>
</html>
