<!doctype html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mina:wght@700&family=Noto+Sans+TC:wght@400;500;600;700&family=Roboto+Mono&family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>URBNSTEP 首頁</title>
  </head>
  <body>
    <%- include("layout-and-components/header.ejs") %>
    <!-- mobile顯示 -->
    <nav class="mobile-nav-bar">
      <div class="nav-item nav-item-1 col-6">
        <a class="nav-link fw-md t-center" href="/lesson4-multipages-website/products.html"
          >商品列表</a
        >
      </div>
      <div class="nav-item nav-item-2 col-6">
        <a class="nav-link fw-md t-center" href="/lesson4-multipages-website/brand-story.html"
          >品牌故事</a
        >
      </div>
    </nav>

    <div class="hero">
      <div class="content">
        <h2 class="heading mb-m mb-mobile-xs">URBNSTEP</h2>
        <h3 class="heading mb-3xl mb-mobile-xl">Your Step, Your Statement</h3>
        <div class="cta-go-shopping">
          <a class="button button--primary fw-500" href="/lesson4-multipages-website/products.html"
            >立即選購</a
          >
        </div>
      </div>
    </div>

    <main>
      <div class="container">
        <div class="new-arrival">
          <h2 class="heading t-center mb-s mb-mobile-xs">New Arrival</h2>
          <h3 class="heading t-center mb-xl mb-mobile-l">新品上市</h3>
          <div class="new-products">
            <ul class="row-1 d-flex mb-2xl">
              <li class="product-card-item col-6">
                <a href="#" class="card product-card product-card--large">
                  <div class="card__image-wrapper">
                    <img
                      class="product-card-large__image"
                      src="/images/new-1.png"
                      alt="monoverse"
                    />
                    <h4 class="product-card-large__title">Monoverse</h4>
                    <p class="product-card-large__price">
                      NT<span class="product-card__dollar">$</span>3,600
                    </p>
                  </div>
                </a>
              </li>
              <li class="product-card-item col-6">
                <a href="#" class="card product-card product-card--large">
                  <div class="card__image-wrapper">
                    <img
                      class="product-card-large__image"
                      src="/images/new-2.png"
                      alt="platform 404"
                    />
                    <h4 class="product-card-large__title">PLATFORM 404</h4>
                    <p class="product-card-large__price">
                      NT<span class="product-card__dollar">$</span>2,600
                    </p>
                  </div>
                </a>
              </li>
            </ul>
            <ul class="row-2 d-flex">
              <li class="product-card-item col-6">
                <a href="#" class="card product-card product-card-large">
                  <div class="card__image-wrapper">
                    <img
                      class="product-card-large__image"
                      src="/images/new-3.png"
                      alt="urbn force"
                    />
                    <h4 class="product-card-large__title">URBN Force</h4>
                    <p class="product-card-large__price">
                      NT<span class="product-card__dollar">$</span>3,200
                    </p>
                  </div>
                </a>
              </li>
              <li class="product-card-item col-6">
                <a href="#" class="card product-card product-card-large">
                  <div class="card__image-wrapper">
                    <img class="product-card-large__image" src="/images/new-4.png" alt="mode90" />
                    <h4 class="product-card-large__title">Mode90</h4>
                    <p class="product-card-large__price">
                      NT<span class="product-card__dollar">$</span>4,000
                    </p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="hot mb-3xl mb-mobile-l">
          <h3 class="heading mb-m">熱銷補貨</h3>
          <ul class="hot-products d-flex">
            <li class="hot-product-item">
              <a href="#" class="image-card image-card--small">
                <img src="/images/product-3.png" alt="melty kiss" />
              </a>
            </li>
            <li class="hot-product-item">
              <a href="#" class="image-card image-card--small">
                <img src="/images/product.png" alt="platform 404" />
              </a>
            </li>
            <li class="hot-product-item">
              <a href="#" class="image-card image-card--small">
                <img src="/images/product-6.png" alt="r:uner" />
              </a>
            </li>
            <li class="hot-product-item">
              <a href="#" class="image-card image-card--small">
                <img src="/images/product-4.png" alt="boomblok" />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="campaign mb-3xl">
        <img src="/images/sparkle.svg" alt="火花" class="campaign__sparkle" />
        <img src="/images/star.svg" alt="星星" class="campaign__star" />
        <div class="content">
          <h2 class="heading mb-m mb-mobile-m">URBNSTEP <span>x</span> Kevin Chen</h2>
          <h3 class="heading mb-xl mb-mobile-l">跨界聯名，限量發售</h3>
          <p class="mb-3xl desktop-text">新銳漫畫家 Kevin Chen 親自操刀設計，街頭能量全面引爆！</p>
          <div class="mobile-text mb-mobile-xl">
            <p>新銳漫畫家 Kevin Chen 親自操刀設計</p>
            <p>街頭能量全面引爆！</p>
          </div>
          <a href="#" class="cta-buy button button--primary">立即搶購</a>
        </div>
        <div class="indicators">
          <ul class="d-flex jc-center gap-xs">
            <li class="indicator active"></li>
            <li class="indicator"></li>
            <li class="indicator"></li>
            <li class="indicator"></li>
            <li class="indicator"></li>
          </ul>
        </div>
      </div>
      <div class="container">
        <div class="categories">
          <h3 class="heading mb-m">依系列選購</h3>
          <ul class="category-list d-flex wrap">
            <li class="category-item col-mobile-6">
              <a
                href="#"
                class="card category-card"
                style="background-image: url('/images/product-6.png')"
              >
                <div class="category-card__title">
                  <h4 class="english">URBN RUNNER</h4>
                  <h4 class="chinese">慢跑系列</h4>
                </div>
              </a>
            </li>
            <li class="category-item col-mobile-6">
              <a
                href="#"
                class="card category-card"
                style="background-image: url('/images/product-11.png')"
              >
                <div class="category-card__title">
                  <h4 class="english">STREET MODE</h4>
                  <h4 class="chinese">滑板系列</h4>
                </div>
              </a>
            </li>
            <li class="category-item col-mobile-6">
              <a
                href="#"
                class="card category-card"
                style="background-image: url('/images/product-4.png')"
              >
                <div class="category-card__title">
                  <h4 class="english">CHUNK DISTRICT</h4>
                  <h4 class="chinese">厚底系列</h4>
                </div>
              </a>
            </li>
            <li class="category-item col-mobile-6">
              <a
                href="#"
                class="card category-card"
                style="background-image: url('/images/product-10.png')"
              >
                <div class="category-card__title">
                  <h4 class="english">COLLAB ZONE</h4>
                  <h4 class="chinese">聯名系列</h4>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="inspiration mb-3xl mb-mobile-l">
          <h3 class="heading mb-m">穿搭靈感</h3>
          <ul class="grid-gallery gallery--desktop d-flex wrap">
            <li class="grid-item">
              <img src="/images/inspiration-1.png" alt="穿搭靈感" />
            </li>
            <li class="grid-item">
              <img src="/images/inspiration-2.png" alt="穿搭靈感" />
            </li>
            <li class="grid-item">
              <img src="/images/inspiration-4.png" alt="穿搭靈感" />
            </li>
            <li class="grid-item">
              <img src="/images/inspiration-5.png" alt="穿搭靈感" />
            </li>
            <li class="grid-item big">
              <img src="/images/inspiration-10.png" alt="穿搭靈感" />
            </li>
            <li class="grid-item big">
              <img src="/images/inspiration-3.png" alt="穿搭靈感" />
            </li>
            <li class="grid-item">
              <img src="/images/inspiration-6.png" alt="穿搭靈感" />
            </li>
            <li class="grid-item">
              <img src="/images/inspiration-7.png" alt="穿搭靈感" />
            </li>
            <li class="grid-item">
              <img src="/images/inspiration-8.png" alt="穿搭靈感" />
            </li>
            <li class="grid-item">
              <img src="/images/inspiration-9.png" alt="穿搭靈感" />
            </li>
            <li class="grid-item">
              <img src="/images/inspiration-11.png" alt="穿搭靈感" />
            </li>
            <li class="grid-item">
              <img src="/images/inspiration-12.png" alt="穿搭靈感" />
            </li>
          </ul>
          <ul class="gallery--mobile gap-m">
            <li class="gallery--mobile__item">
              <img src="/images/inspiration-1.png" alt="穿搭靈感" />
            </li>
            <li class="gallery--mobile__item">
              <img src="/images/inspiration-2.png" alt="穿搭靈感" />
            </li>
            <li class="gallery--mobile__item">
              <img src="/images/inspiration-3.png" alt="穿搭靈感" />
            </li>
            <li class="gallery--mobile__item">
              <img src="/images/inspiration-4.png" alt="穿搭靈感" />
            </li>
            <li class="gallery--mobile__item">
              <img src="/images/inspiration-5.png" alt="穿搭靈感" />
            </li>
            <li class="gallery--mobile__item">
              <img src="/images/inspiration-6.png" alt="穿搭靈感" />
            </li>
            <li class="gallery--mobile__item">
              <img src="/images/inspiration-7.png" alt="穿搭靈感" />
            </li>
            <li class="gallery--mobile__item">
              <img src="/images/inspiration-8.png" alt="穿搭靈感" />
            </li>
            <li class="gallery--mobile__item">
              <img src="/images/inspiration-9.png" alt="穿搭靈感" />
            </li>
            <li class="gallery--mobile__item">
              <img src="/images/inspiration-10.png" alt="穿搭靈感" />
            </li>
            <li class="gallery--mobile__item">
              <img src="/images/inspiration-11.png" alt="穿搭靈感" />
            </li>
            <li class="gallery--mobile__item">
              <img src="/images/inspiration-12.png" alt="穿搭靈感" />
            </li>
          </ul>
        </div>
      </div>
    </main>

    <%- include ("layout-and-components/promotion.ejs") %>
    <%- include
    ("layout-and-components/footer.ejs") %>
    <script type="module" src="/js/index.js"></script>
  </body>
</html>
