<!doctype html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mina:wght@700&family=Noto+Sans+TC:wght@400;500;600;700&family=Roboto+Mono&family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>PLATFORM 404</title>
  </head>
  <body>
    <%- include("layout-and-components/header.ejs") %>

    <main>
      <div class="container">
        <div class="main-product d-flex wrap">
          <ul class="product-images d-flex wrap col-7 col-mobile-12">
            <li class="product-image-item col-6 col-mobile-12">
              <figure class="card image-card">
                <img src="/images/image.png" alt="platform 404" />
              </figure>
            </li>
            <li class="product-image-item col-6">
              <figure class="card image-card">
                <img src="/images/image-1.png" alt="platform 404" />
              </figure>
            </li>
            <li class="product-image-item col-6">
              <figure class="card image-card">
                <img src="/images/image-2.png" alt="platform 404" />
              </figure>
            </li>
            <li class="product-image-item col-6">
              <figure class="card image-card">
                <img src="/images/image-3.png" alt="platform 404" />
              </figure>
            </li>
            <li class="product-image-item col-6">
              <figure class="card image-card">
                <img src="/images/image-4.png" alt="platform 404" />
              </figure>
            </li>
            <li class="product-image-item col-6">
              <figure class="card image-card">
                <img src="/images/image-5.png" alt="platform 404" />
              </figure>
            </li>
            <li class="product-image-item col-6">
              <figure class="card image-card">
                <img src="/images/image-6.png" alt="platform 404" />
              </figure>
            </li>
            <li class="product-image-item col-6">
              <figure class="card image-card">
                <img src="/images/image-7.png" alt="platform 404" />
              </figure>
            </li>
          </ul>
          <div class="product-info col-5 col-mobile-12">
            <div class="breadcrumb mb-s">
              <ol class="d-flex">
                <li>
                  <a href="#" class="breadcrumb-link fw-md">首頁</a
                  ><span class="forward-slash">/</span>
                </li>
                <li>
                  <a href="#" class="breadcrumb-link fw-md">女鞋</a
                  ><span class="forward-slash">/</span>
                </li>
                <li>
                  <a href="#" class="breadcrumb-link fw-md">滑板鞋</a
                  ><span class="forward-slash">/</span>
                </li>
                <li>
                  <p class="breadcrumb-link active fw-md">Platform 404</p>
                </li>
              </ol>
            </div>
            <div class="description mb-xl">
              <h2 class="title heading mb-m mb-mobile-s">Platform 404</h2>
              <div class="price heading mb-m d-flex ai-center mb-mobile-s">
                <span class="current-price">NT<span class="dollar-sign heading">$</span>2,600</span>
                <span class="full-price fw-md"
                  >NT<span class="dollar-sign fw-md">$</span>3,200</span
                >
              </div>
              <p class="text-intro mb-s">
                Platform 404
                以柔和奶白為底，搭配深藍色皮革點綴，走在街上自帶回頭率。鞋型採用復古運動風輪廓，結合輕量厚底與柔軟泡棉鞋舌，兼顧美感與舒適。
              </p>
              <p class="text-intro">
                鞋身選用柔軟皮革材質，打造出清新卻不失個性的氛圍，並以鞋面透氣孔設計提升穿著體驗，兼顧質感與舒適度，適合日常長時間著用。無論是街頭穿搭、日常通勤或週末出遊都能輕鬆駕馭。
              </p>
            </div>
            <div class="specs mb-3xl mb-mobile-l">
              <div class="colors mb-3xl">
                <h4 class="mb-xs">顏色</h4>
                <ul class="color-list d-flex gap-xs wrap">
                  <li>
                    <a class="button button-option button-option__image selected" href="#">
                      <div class="button__image-wrapper">
                        <img src="/images/product.png" alt="藍色" class="mb-xxs" />
                        <p class="fw-md">藍色</p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="button button-option button-option__image" href="#">
                      <div class="button__image-wrapper">
                        <img src="/images/product-1.png" alt="卡其色" class="mb-xxs" />
                        <p class="fw-md">卡其色</p>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="sizes">
                <h4 class="mb-xs">尺寸</h4>
                <ul class="size-list d-flex wrap gap-xs mb-xs">
                  <li>
                    <button
                      type="button"
                      class="size button button-option button-option__text fw-md selected"
                    >
                      35(22.5cm)
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      class="size button button-option button-option__text fw-md"
                    >
                      36(23.0cm)
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      class="size button button-option button-option__text fw-md"
                    >
                      37(23.5cm)
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      class="size button button-option button-option__text fw-md"
                    >
                      38(24.0cm)
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      class="size button button-option button-option__text fw-md"
                    >
                      39(24.5cm)
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      class="size button button-option button-option__text fw-md"
                    >
                      40(25.0cm)
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      class="size button button-option button-option__text fw-md"
                    >
                      41(26.0cm)
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      class="size button button-option button-option__text fw-md disabled"
                    >
                      42(26.5cm)
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      class="size button button-option button-option__text fw-md disabled"
                    >
                      43(27.0cm)
                    </button>
                  </li>
                </ul>
                <p class="stock-warning">僅剩 3 雙</p>
              </div>
            </div>
            <div class="cta d-flex mb-xl gap-xs">
              <button
                type="button"
                class="add-like button button--outlined fw-md jc-center ai-center gap-xs"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-heart"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"
                  />
                </svg>
                <span>加入收藏</span>
              </button>
              <a
                href="#"
                class="reservation button button--filled fw-md d-flex jc-center ai-center gap-xs"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-handbag"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 1a2 2 0 0 1 2 2v2H6V3a2 2 0 0 1 2-2m3 4V3a3 3 0 1 0-6 0v2H3.36a1.5 1.5 0 0 0-1.483 1.277L.85 13.13A2.5 2.5 0 0 0 3.322 16h9.355a2.5 2.5 0 0 0 2.473-2.87l-1.028-6.853A1.5 1.5 0 0 0 12.64 5zm-1 1v1.5a.5.5 0 0 0 1 0V6h1.639a.5.5 0 0 1 .494.426l1.028 6.851A1.5 1.5 0 0 1 12.678 15H3.322a1.5 1.5 0 0 1-1.483-1.723l1.028-6.851A.5.5 0 0 1 3.36 6H5v1.5a.5.5 0 1 0 1 0V6z"
                  />
                </svg>
                <span>門市預約試穿</span>
              </a>
              <button type="button" class="add-like-mobile"></button>
            </div>
            <div class="other">
              <div class="materials">
                <h3 class="fw-md mb-xxs">商品材質</h3>
                <ul>
                  <li>鞋面：合成皮革（Synthetic Leather）</li>
                  <li>內裡：透氣網布材質，提升舒適與排汗性</li>
                  <li>鞋底：EVA 輕量發泡橡膠，具備良好緩震與止滑效果</li>
                  <li class="ing-item">鞋帶：聚酯纖維，耐拉扯不易鬆脫</li>
                </ul>
              </div>
              <div class="notes">
                <h3 class="fw-md mb-xxs">購買須知</h3>
                <p>
                  商品顏色因螢幕顯示可能略有差異，請以實品為準。<br />建議首次穿著前試穿確認尺寸，避免影響退換貨權益。<br />本商品為限量發售，庫存有限，如需更換尺寸請儘早聯繫客服協助處理。
                </p>
              </div>
              <div class="maintain">
                <h3 class="fw-md mb-xxs">保養方式</h3>
                <p>
                  建議以乾布或微濕軟布擦拭表面汙漬，避免機洗或長時間浸水。<br />收納時請放置於乾燥通風處，避免日曬及高溫導致變形或龜裂。<br />若需深層清潔，建議使用中性清潔劑並搭配柔刷輕刷，勿使用漂白水或強酸強鹼清潔劑。
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="reference mb-2xl mb-mobile-l">
          <h2 class="heading mb-m">你可能也喜歡...</h2>
          <ul class="refer-list d-flex">
            <li class="refer-item">
              <a href="#" target="_blank" class="refer-link card product-card product-card-medium">
                <div class="card__image-wrapper mb-s mb-mobile-xs">
                  <img src="/images/product-2.png" alt="vm001" />
                </div>
                <h3 class="product-card__title heading mb-xxs">VM001</h3>
                <p class="product-card__price fw-md">NT<span class="card__dollar">$</span>2,600</p>
              </a>
            </li>
            <li class="refer-item">
              <a href="#" target="_blank" class="refer-link card product-card product-card-medium">
                <div class="card__image-wrapper mb-s mb-mobile-xs">
                  <img src="/images/product-3.png" alt="melty kiss" />
                </div>
                <h3 class="product-card__title heading mb-xxs">Melty Kiss</h3>
                <p class="product-card__price fw-md">NT<span class="card__dollar">$</span>4,000</p>
              </a>
            </li>
            <li class="refer-item">
              <a href="#" target="_blank" class="refer-link card product-card product-card-medium">
                <div class="card__image-wrapper mb-s mb-mobile-xs">
                  <img src="/images/product-4.png" alt="boomblok" />
                </div>
                <h3 class="product-card__title heading mb-xxs">BOOMBLOK</h3>
                <p class="product-card__price fw-md">NT<span class="card__dollar">$</span>3,200</p>
              </a>
            </li>
            <li class="refer-item">
              <a href="#" target="_blank" class="refer-link card product-card product-card-medium">
                <div class="card__image-wrapper mb-s mb-mobile-xs">
                  <img src="/images/product-7.png" alt="sugar snap" />
                </div>
                <h3 class="product-card__title heading mb-xxs">Sugar Snap</h3>
                <p class="product-card__price fw-md">NT<span class="card__dollar">$</span>3,200</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </main>

    <%- include ("layout-and-components/promotion.ejs") %>
    <%- include ("layout-and-components/footer.ejs") %>

    <script type="module" src="/js/platform-404.js"></script>
  </body>
</html>
